body{
  font-family: sans-serif;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 5;
  }
  
  ul li {
    /* 
    display block (default) --> Vertical
    display inline --> Horizontal
    */
    display: inline;
    margin-right: 5px;
  }
.search-container{
  padding-top: 8px;
}

.people-search{
  min-width: 300px;
  max-width: 400;
  border-radius: 5px;
  padding: 6px 16px;
  font-size: 0.8em;
  background-color: whitesmoke;
}

#people-header{
  display: flex;
  justify-content: space-between;
}

.search-container input[type=text] {
  border: 1px solid #ccc;  
}

#addPerson{
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

#addPerson input{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#btn-add-person{
  width: 100%;
  background-color: lightgray;
  color: black;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.people_content{
  width: 95%;
  margin: auto;
}

