ul {
    list-style-type: none;
    padding: 0;
    margin: 5;
  }
  
  ul li {
    /* 
    display block (default) --> Vertical
    display inline --> Horizontal
    */
    display: inline;
    margin-right: 5px;
  }

#people-search{
  width: 30em;
  margin-left: 5em;

  
}

.searchform input[type=text] {
  border: 1px solid #ccc;  
}